<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(function() {
        $("a[href='#choose']").on("click", function(evt) {
          var target = $(evt.currentTarget);
          var color = target.attr("class");
          $.post("/choose-color", {color: color})
          return false;
        })
    });
  </script>
  <style type="text/css">
    .red { background-color: red; }
    .blue { background-color: blue; }
    .green { background-color: green; }
    .pink { background-color: pink; }
    .purple { background-color: purple; }
    .orange { background-color: orange; }
    body {
      margin: 0; padding: 0;
    }
    ul {
      list-style: none;
      margin: 0; padding: 0;
    }
    li {
      margin: 0; padding: 0;
      display: block;
      float: left;
      width: 50%;
      height: 33%;
    }
    a {
      text-indent: -9999px;
    }

  </style>
  <title>What's you favorite color?</title>
</head>
<body>
  <ul>
    <a href="#choose" class="red"><li class="red">Red</li></a>
    <a href="#choose" class="green"><li class="green">Green</li></a>
    <a href="#choose" class="blue"><li class="blue">Blue</li></a>
    <a href="#choose" class="pink"><li class="pink">Pink</li></a>
    <a href="#choose" class="purple"><li class="purple">Purple</li></a>
    <a href="#choose" class="orange"><li class="orange">Orange</li></a>
  </ul>
</body>
</html>

